<div class="calculator">
  <div class="display">
    <div class="expression">{{ topDisplay }}</div>
    <span class="result">{{ display }}</span>
  </div>

  <div class="row-4">
    <button (click)="clearEntry()">CE</button>
    <button (click)="clear()">C</button>
    <button (click)="back()">⌫</button>
    <button (click)="op('/')">÷</button>

    <button (click)="press('7')">7</button>
    <button (click)="press('8')">8</button>
    <button (click)="press('9')">9</button>
    <button (click)="op('*')">×</button>

    <button (click)="press('4')">4</button>
    <button (click)="press('5')">5</button>
    <button (click)="press('6')">6</button>
    <button (click)="op('-')">−</button>

    <button (click)="press('1')">1</button>
    <button (click)="press('2')">2</button>
    <button (click)="press('3')">3</button>
    <button (click)="op('+')">+</button>

    <button class="zero" (click)="toggleSign()">+/-</button>
    <button class="zero" (click)="press('0')">0</button>
    <button (click)="pressDot()">.</button>
    <button (click)="calc()">=</button>
  </div>
</div>
<div class="history">
  <div class="history-header">
    <p>History</p>
    @if(history.length) {
    <i class="bi bi-trash3 clear-history" (click)="clearHistory()"></i>}
  </div>
  @for(item of history; track $index){
  <h6>
    {{ item }}
  </h6>
  }@empty {
  <h6>There's no history yet.</h6>
  }
</div>
