<div
  id="window"
  class="window"
  [class.window-minized]="windowData.minimized"
  [class.no-transition]="!shouldAnimate"
>
  <div class="window-header">
    <div class="window-titlebar">
      <i class="bi {{ windowData.icon }}"></i>
      <span>{{ windowData.application }}</span>
    </div>
    <div class="window-controls">
      <i class="bi bi-dash" (click)="minimizeWindow()"></i>
      <i
        class="{{ isMaximized ? 'bi-fullscreen-exit' : 'bi-square' }}"
        (click)="isMaximized ? unmaximizeWindow() : maximizeWindow()"
      ></i>
      <i class="bi bi-x" (click)="closeWindow()"></i>
    </div>
  </div>

  <div
    class="window-content"
    #windowContent
    [class.no-overflow]="shouldAnimate"
  >
    @if(windowData.application === 'Terminal') {
    <app-terminal (requestScrollToBottom)="scrollToBottom()" />
    } @else if(windowData.application === 'Explorer') {
    <app-explorer />
    }
  </div>
</div>
