<div
  id="window"
  class="window window-{{ id }} animate-in"
  [class.window-minized]="windowData.minimized"
  [class.no-transition]="!shouldAnimate"
>
  <div
    class="window-header"
    (dblclick)="isMaximized ? unmaximizeWindow() : maximizeWindow()"
  >
    <div class="window-titlebar">
      <i class="bi {{ windowData.icon }}"></i>
      <span>{{ windowData.application }}</span>
    </div>
    <div class="window-controls">
      <i class="bi bi-dash" (click)="minimizeWindow()"></i>
      <i
        class="{{ isMaximized ? 'bi-fullscreen-exit' : 'bi-square' }}"
        (click)="isMaximized ? unmaximizeWindow() : maximizeWindow()"
      ></i>
      <i class="bi bi-x" (click)="closeWindow()"></i>
    </div>
  </div>

  <div class="window-content" #windowContent>
    @if(windowData.application === 'Terminal') {
    <app-terminal [id]="id" (requestScrollToBottom)="scrollToBottom()" />
    } @else if(windowData.application === 'Explorer') {
    <app-explorer [data]="windowData.data" />
    } @else if(windowData.application === 'Calculator') {
    <app-calculator />
    }@else if(windowData.application === 'Notepad') {
    <app-notepad [data]="windowData.data" />
    }
  </div>
</div>
<div class="maximizing" [class.show-maximizing]="maximizing"></div>
<div class="left-snap" [class.show-left-snap]="isLeftSnap"></div>
<div class="right-snap" [class.show-right-snap]="isRightSnap"></div>
