.window {
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.window-header {
  background-color: var(--primary-color);
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.window-titlebar {
  display: flex;
  i {
    font-size: 1.2rem;
  }
}
.window-controls {
  display: flex;
}
.window-content {
  padding: 10px;
  height: calc(100% - 40px);
  overflow: auto;
}
.window-minized {
  display: none;
}
i {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 32px;
}
.bi-fullscreen-exit,
.bi-square {
  font-size: 1rem;
}
