.window {
  position: absolute;
  /* width: 500px;
  height: 350px; */
  width: fit-content;
  height: fit-content;
  background-color: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translate(100px, 50px);
  transition: all 0.2s ease;
}
.window-header {
  background-color: var(--primary-color);
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}
.window-titlebar {
  display: flex;
  i {
    font-size: 1.2rem;
  }
}
.window-controls {
  display: flex;
}
.window-content {
  height: calc(100% - 40px);
  overflow: auto;
}
.window-minized {
  pointer-events: none;
  opacity: 0;
}
i {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 32px;
}
.bi-fullscreen-exit,
.bi-square {
  font-size: 1rem;
}
.no-transition {
  transition: none !important;
}
.maximizing {
  position: absolute;
  transition: all 0.2s ease;
  width: 0;
  height: 0;
  border-radius: 6px;
  transform: translate(50vw, 0);
  background-color: var(--hover-color);
}
.show-maximizing {
  transform: translate(0, 0);
  width: 100vw;
  height: calc(100vh - 3.5rem);
}
@keyframes scaleIn {
  from {
    transform: scale(0.9) translate(99.9px, 50px);
    opacity: 0;
  }
  to {
    transform: scale(1) translate(100px, 50px);
    opacity: 1;
  }
}

.animate-in {
  align-items: center;
  animation: scaleIn 200ms ease-out;
}
