<div class="system">
  <i class="bi bi-list"></i>
  <div class="systems-footer">
    <i class="bi bi-gear" (click)="newWindow('Settings', 'bi-gear')"></i>
    <i class="bi bi-power show-shut-down" (click)="toggleShutDownPopup()"> </i>
    <div
      class="shut-down-popup"
      [class.show-shut-doown-pop]="showShutDownPopup"
    >
      <div class="shut-down-popup-item" (click)="shutDown('Shutting down')">
        <i class="bi bi-power show-shut-down"> </i>
        <p>Shutdown</p>
      </div>
      <div class="shut-down-popup-item" (click)="shutDown('Restarting')">
        <i class="bi bi-arrow-clockwise"></i>
        <p>Restart</p>
      </div>
    </div>
  </div>
</div>

<div class="applications" [class.search]="searchQuery">
  @if (searchQuery) {
  <span>Search Results</span>
  @if(filteredFiles.length < 1 && filteredApplications.length < 1){
  <span class="sub-header">No results found for '{{ searchQuery }}'</span>
  } @if(filteredApplications.length > 0){
  <span class="sub-header">Applications</span>
  }
  <div class="search-inner">
    @for (application of filteredApplications; track $index) {
    <div
      class="application"
      (click)="newWindow(application.application, application.icon)"
    >
      <i class="bi {{ application.icon }}"></i>
      <p>{{ application.application }}</p>
    </div>
    }
  </div>
  @if(filteredFiles.length> 0){
  <span class="sub-header">Files</span>
  }
  <div class="search-inner">
    @for (file of filteredFiles; track $index) {
    <div class="application" (click)="openFile(file)">
      <i class="bi {{ getFileIcon(file) }}"></i>
      @if(file.type !== "directory"){
      <div class="application-inner">
        <p>{{ file.name }}.{{ file.type }}</p>
        <span> {{ file.path }}/{{ file.name }}.{{ file.type }} </span>
      </div>
      }@else {
      <div class="application-inner">
        <p>{{ file.name }}</p>
        <span>
          {{ file.path }}
        </span>
      </div>
      }
    </div>
    }
  </div>
  } @else {
  <span>Applications</span>
  <div class="applications-inner">
    @for (application of applications; track $index) {
    <div
      class="application"
      (click)="newWindow(application.application, application.icon)"
    >
      <i class="bi {{ application.icon }}"></i>
      <p>{{ application.application }}</p>
    </div>
    }
  </div>
  }
</div>
