:host {
  background-color: var(--secondary-color);
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 2px solid var(--hover-color);
  border-bottom: none;
}
.system {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.systems-footer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
i {
  font-size: 1.6rem;
  padding: 0.1rem 0.5rem;
  margin: 0.1rem;
  border-radius: 6px;
}
span {
  font-size: 0.8rem;
  opacity: 0.9;
  user-select: none;
  padding: 0 0 0 0.5rem;
}
.applications {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.2s;
  min-width: 200px;
}
.search {
  min-width: 300px;
}
.applications-inner {
  padding: 0 0.5rem;
  gap: 0.2rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.search-inner {
  padding: 0 0.5rem;

  gap: 0.2rem;
  height: max-content;
}
.sub-header {
  opacity: 0.8;
}
.application {
  padding: 0 0.2rem 0 0.1rem;
  border-radius: 6px;
  transition: background-color 0.1s ease;
  display: flex;
  align-items: center;
  i {
    padding-left: 0;
  }
  i:hover {
    background-color: #00000000;
  }
}

.application:hover {
  transition: background-color 0s;

  background-color: var(--hover-color);
  cursor: pointer;
}
.application-inner {
  display: flex;
  flex-direction: column;
  span,
  p {
    padding: 0;
    margin: 0 0.2rem;
  }
  span {
    font-size: 0.7rem;
  }
}
.shut-down-popup {
  position: absolute;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  gap: 0.2rem;
  left: 1.5px;
  bottom: 3rem;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(15%);
  transition: all 0.2s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.show-shut-doown-pop {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  pointer-events: all;
}
.shut-down-popup-item {
  align-items: center;
  display: flex;
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 6px;
  i {
    font-size: 1rem;
    padding: 0 0.1rem;
  }
  i:hover {
    background-color: #00000000;
  }
  p {
    font-weight: normal;
  }
}
.shut-down-popup-item:hover {
  background-color: var(--hover-color);
}
