<div class="system">
  <i class="bi bi-list"></i>
  <div class="systems-footer">
    <i class="bi bi-gear"></i>
    <i class="bi bi-power"></i>
  </div>
</div>

<div class="applications" [class.search]="searchQuery">
  @if (searchQuery) {
  <span>Search Results</span>
  @if(filteredFiles.length < 1 && filteredApplications.length < 1){
  <span class="sub-header">No results found for '{{ searchQuery }}'</span>
  } @if(filteredApplications.length > 0){
  <span class="sub-header">Applications</span>
  }
  <div class="search-inner">
    @for (application of filteredApplications; track $index) {
    <div
      class="application"
      (click)="newWindow(application.application, application.icon)"
    >
      <i class="bi {{ application.icon }}"></i>
      <p>{{ application.application }}</p>
    </div>
    }
  </div>
  @if(filteredFiles.length> 0){
  <span class="sub-header">Files</span>
  }
  <div class="search-inner">
    @for (file of filteredFiles; track $index) {
    <div class="application" (click)="openFile(file)">
      <i class="bi {{ getFileIcon(file) }}"></i>
      @if(file.type !== "directory"){
      <p>{{ file.name }}.{{ file.type }}</p>
      }@else {
      <p>{{ file.name }}</p>
      }
    </div>
    }
  </div>
  } @else {
  <span>Applications</span>
  <div class="applications-inner">
    @for (application of applications; track $index) {
    <div
      class="application"
      (click)="newWindow(application.application, application.icon)"
    >
      <i class="bi {{ application.icon }}"></i>
      <p>{{ application.application }}</p>
    </div>
    }
  </div>
  }
</div>
