:host {
  height: calc(100dvh - 3.5rem);
}
.desktop-background {
  height: calc(100dvh - 3.5rem);
  width: 100%;
  background-position: center;
  position: absolute;
}
.activate-linkedin {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  opacity: 0.8;
  user-select: none;
  z-index: 2147483647;
  p {
    font-weight: normal;
  }
}
.header {
  font-size: 1.2rem;
}
app-desktop-application {
  position: absolute;
}
@media (max-width: 992px) {
  .desktop-background {
    right: 0;
    height: 100dvh;
    width: calc(100% - 56.8px);
  }
}
