@if (!deleted) {
  <div
    class="application"
    [class.no-transition]="!shouldAnimate"
    (dblclick)="openApplication()"
    (contextmenu)="contextMenu($event)"
  >
    @if (thumbnailKind() === 'image') {
      <img class="thumb" [src]="thumbnailUrl()" alt="" />
    } @else if (thumbnailKind() === 'video') {
      <video
        class="thumb"
        [src]="thumbnailUrl()"
        muted
        playsinline
        preload="metadata"
      ></video>
    } @else {
      <i [class]="'bi ' + iconClass()"></i>
    }

    @if (application.type === 'shortcut') {
      <i class="bi bi-arrow-up-right-square-fill shortcut"></i>
    }

    <span class="name">{{ displayName() }}</span>
  </div>
}
