<app-start-menu
  [class.show-start-menu]="showStartMenu"
  class="start-menu"
  (closeStartMenu)="toggleStartMenu()"
/>

<div class="taskbar-inner">
  <div class="applications">
    <i class="bi bi-ubuntu start-button" (click)="toggleStartMenu()"></i>
    @for(application of applications; track application){
    <i
      class="bi {{ application.icon }}"
      [class.opened-application]="
        windowManagerService.isOpened(application.application)
      "
      (click)="
        windowManagerService.isOpened(application.application)
          ? toggleWindow(application.application)
          : newWindow(application.application, application.icon)
      "
    ></i>
    }
  </div>
  <div class="taskbar-right">
    <div class="date-time-container">
      <span>{{ time }}</span>
      <span>{{ date }}</span>
    </div>
  </div>
</div>
