<div
  class="explorer-header d-flex align-items-center gap-2 mb-2"
  (click)="onListClick($event)"
>
  <i class="bi bi-arrow-left-short fs-5" (click)="goBack()"></i>
  <i class="bi bi-arrow-right-short fs-5" (click)="goForward()"></i>
  <i class="bi bi-arrow-up-short fs-5" (click)="goUp()"></i>
  <input
    spellcheck="false"
    [(ngModel)]="pathInput"
    (keydown.enter)="goToTypedPath()"
    (blur)="resetPathInput()"
    placeholder="/"
  />
</div>

<div class="sub-header" (click)="onListClick($event)">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." />
  <i
    class="bi"
    [class.bi-justify]="isListMode"
    [class.bi-grid]="isTilesMode"
    (click)="cycleViewMode()"
  ></i>
</div>

<input
  #uploadInput
  type="file"
  accept="image/*,video/*,audio/*"
  hidden
  (change)="onUploadSelected($event)"
/>

@if (windowWidth < 992) {
  <div
    class="explorer-list"
    [class.explorer-list-tiles]="isTilesMode"
    [class.explorer-list-large]="viewMode === 'listLarge'"
    [class.explorer-list-tiles-large]="viewMode === 'tilesLarge'"
    (contextmenu)="onBackgroundContextMenu($event)"
    (click)="onListClick($event)"
  >
    @if (inlineCreateKind) {
      <div
        class="explorer-item explorer-inline-create"
        [class.explorer-item-tiles]="isTilesMode"
        [class.explorer-item-list-large]="viewMode === 'listLarge'"
        [class.explorer-item-tiles-large]="viewMode === 'tilesLarge'"
      >
        <div
          class="explorer-icon"
          [class.explorer-icon-list-large]="viewMode === 'listLarge'"
          [class.explorer-icon-tiles-large]="viewMode === 'tilesLarge'"
        >
          <i
            class="bi explorer-main-icon"
            [class.bi-folder]="inlineCreateKind === 'directory'"
            [class.bi-file-earmark-text]="inlineCreateKind === 'md'"
          ></i>
        </div>
        <input
          #inlineCreateInput
          class="explorer-inline-input"
          [(ngModel)]="inlineCreateName"
          spellcheck="false"
          [placeholder]="
            inlineCreateKind === 'directory' ? 'New folder' : 'New text file'
          "
          (keydown.enter)="confirmInlineCreate()"
          (keydown.escape)="cancelInlineCreate()"
        />
        <button
          type="button"
          class="explorer-inline-button"
          (click)="confirmInlineCreate()"
        >
          Create
        </button>
      </div>
    }

    @for (file of filteredChildren; track file) {
      <div
        class="explorer-item"
        [class.explorer-item-tiles]="isTilesMode"
        [class.explorer-item-list-large]="viewMode === 'listLarge'"
        [class.explorer-item-tiles-large]="viewMode === 'tilesLarge'"
        [class.explorer-item-cut]="isCut(file)"
        (click)="onOpenItem(file)"
        (contextmenu)="onItemContextMenu(file, $event)"
      >
        <div
          class="explorer-icon"
          [class.explorer-icon-list-large]="viewMode === 'listLarge'"
          [class.explorer-icon-tiles-large]="viewMode === 'tilesLarge'"
        >
          @if (getThumbnail(file); as thumb) {
            @if (thumb.kind === "image") {
              <img class="explorer-thumb" [src]="thumb.src" alt="" />
            } @else {
              <video
                class="explorer-thumb"
                [src]="thumb.src"
                muted
                playsinline
                preload="metadata"
              ></video>
            }
          } @else {
            <i [class]="'bi explorer-main-icon ' + getItemIcon(file)"></i>
          }
          @if (file.type === "shortcut") {
            <i
              class="bi bi-arrow-up-right-square-fill explorer-shortcut-overlay"
              [class.explorer-shortcut-overlay-renaming]="
                !!file._id && renamingId === file._id
              "
            ></i>
          }
        </div>

        @if (file._id && renamingId === file._id) {
          <input
            #renameInput
            class="explorer-inline-input"
            [(ngModel)]="renameValue"
            spellcheck="false"
            (keydown.enter)="confirmRename()"
            (keydown.escape)="cancelRename()"
            (blur)="confirmRename()"
          />
        } @else {
          <p class="explorer-name">
            {{ displayName(file) }}
          </p>
        }
      </div>
    }
  </div>
} @else {
  <div
    class="explorer-list"
    [class.explorer-list-tiles]="isTilesMode"
    [class.explorer-list-large]="viewMode === 'listLarge'"
    [class.explorer-list-tiles-large]="viewMode === 'tilesLarge'"
    (contextmenu)="onBackgroundContextMenu($event)"
    (click)="onListClick($event)"
  >
    @if (inlineCreateKind) {
      <div
        class="explorer-item explorer-inline-create"
        [class.explorer-item-tiles]="isTilesMode"
        [class.explorer-item-list-large]="viewMode === 'listLarge'"
        [class.explorer-item-tiles-large]="viewMode === 'tilesLarge'"
      >
        <div
          class="explorer-icon"
          [class.explorer-icon-list-large]="viewMode === 'listLarge'"
          [class.explorer-icon-tiles-large]="viewMode === 'tilesLarge'"
        >
          <i
            class="bi explorer-main-icon"
            [class.bi-folder]="inlineCreateKind === 'directory'"
            [class.bi-file-earmark-text]="inlineCreateKind === 'md'"
          ></i>
        </div>
        <input
          #inlineCreateInput
          class="explorer-inline-input"
          [(ngModel)]="inlineCreateName"
          spellcheck="false"
          [placeholder]="
            inlineCreateKind === 'directory' ? 'New folder' : 'New text file'
          "
          (keydown.enter)="confirmInlineCreate()"
          (keydown.escape)="cancelInlineCreate()"
        />
        <button
          type="button"
          class="explorer-inline-button"
          (click)="confirmInlineCreate()"
        >
          Create
        </button>
      </div>
    }

    @for (file of filteredChildren; track file) {
      <div
        class="explorer-item"
        [class.explorer-item-tiles]="isTilesMode"
        [class.explorer-item-list-large]="viewMode === 'listLarge'"
        [class.explorer-item-tiles-large]="viewMode === 'tilesLarge'"
        [class.explorer-item-cut]="isCut(file)"
        (dblclick)="onOpenItem(file)"
        (contextmenu)="onItemContextMenu(file, $event)"
      >
        <div
          class="explorer-icon"
          [class.explorer-icon-list-large]="viewMode === 'listLarge'"
          [class.explorer-icon-tiles-large]="viewMode === 'tilesLarge'"
        >
          @if (getThumbnail(file); as thumb) {
            @if (thumb.kind === "image") {
              <img class="explorer-thumb" [src]="thumb.src" alt="" />
            } @else {
              <video
                class="explorer-thumb"
                [src]="thumb.src"
                muted
                playsinline
                preload="metadata"
              ></video>
            }
          } @else {
            <i [class]="'bi explorer-main-icon ' + getItemIcon(file)"></i>
          }
          @if (file.type === "shortcut") {
            <i
              class="bi bi-arrow-up-right-square-fill explorer-shortcut-overlay"
              [class.explorer-shortcut-overlay-renaming]="
                !!file._id && renamingId === file._id
              "
            ></i>
          }
        </div>

        @if (file._id && renamingId === file._id) {
          <input
            #renameInput
            class="explorer-inline-input"
            [(ngModel)]="renameValue"
            spellcheck="false"
            (keydown.enter)="confirmRename()"
            (keydown.escape)="cancelRename()"
            (blur)="confirmRename()"
          />
        } @else {
          <p class="explorer-name">
            {{ displayName(file) }}
          </p>
        }
      </div>
    }
  </div>
}
