:host {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
}
input {
  background-color: #0000;
  border: none;
  width: max-content;
}
input:focus {
  outline: none;
}
.input-line {
  display: flex;
}
p {
  font-weight: normal;
}
.output {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: monospace;
}
.prompt {
  overflow-wrap: break-word;
}
input,
p,
.output,
.prompt {
  color: var(--terminal-color);
}
