<div class="setting-groups-outer">
  <h4>Background</h4>
  <div class="setting-group no-child">
    <div class="preview">
      <img
        [src]="settings.backgroundImage ?? 'assets/background.jpg'"
        alt="Selected image"
      />
    </div>
    <div class="setting-group-inner">
      <span for="imageUpload">Select Image</span>
      <input
        type="file"
        id="imageUpload"
        (change)="onImageSelected($event)"
        accept="image/*"
        hidden
      />
      <label for="imageUpload" class="upload-button">Upload Image</label>
    </div>
    <div class="setting-group-inner">
      <span for="fitSelect">Background Fit</span>
      <select
        id="fitSelect"
        class="form-select"
        [value]="settings.backgroundFit"
        (change)="onBackgroundFitChange($event)"
      >
        <option value="cover">Fill</option>
        <option value="contain">Fit</option>
        <option value="stretch">Stretch</option>
        <option value="repeat">Tile</option>
      </select>
    </div>
  </div>
</div>
<div class="setting-groups-outer">
  <h4>Display</h4>
  <div class="setting-group has-border">
    <h4>Theme</h4>
    <select
      id="fitSelect"
      class="form-select"
      [value]="settings.theme"
      (change)="setTheme($event)"
    >
      <option value="dark">Dark</option>
      <option value="light">Light</option>
      <option value="red">Red</option>
      <option value="green">Green</option>
      <option value="blue">Blue</option>
      <option value="pink">Pink</option>
    </select>
  </div>

  <div class="setting-group has-border">
    <h4>Animations</h4>
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="animationsSwitch"
        [checked]="settings.animations"
        (change)="toggleAnimations()"
      />
    </div>
  </div>
</div>
