@if(shutDown){
<div
  class="shut-down"
  [class.sleep]="shutDownMessage == 'Sleep'"
  (click)="disableShutDown()"
>
  @if(shutDownMessage !== "Sleep"){
  <div class="shut-down-inner">
    <div class="spinner-border" role="status"></div>
    <h4>{{ shutDownMessage }}</h4>
  </div>
  }
</div>
}@else {
<app-desktop [class.show-content]="acceptedWarning" />

<app-taskbar [class.show-content]="acceptedWarning" />

<div class="warning" [class.show-warning]="!acceptedWarning">
  <p class="main-warning">
    For the best experience, it's recommended to use fullscreen mode (F11).
  </p>
  <p class="sub-warning">Some features or layouts may not work as intended.</p>
  <button class="btn btn-secondary" (click)="acceptedWarning = true">
    <p>Next</p>
  </button>
</div>
}
