:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  background-color: var(--background-color);
}
app-desktop,
app-taskbar {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.2s ease;
}
.warning {
  transform: translate(-50%, -50%);
  top: 55%;

  left: 50%;
  text-align: center;
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 1.2s ease;
}
.sub-warning {
  opacity: 0.7;
}
.show-warning,
.show-content {
  opacity: 1;
  pointer-events: all;
}
.show-warning {
  top: 50%;
}
.shut-down {
  width: 100vw;
  height: 100vh;
  position: relative;
  cursor: pointer;
}
.sleep {
  background-color: black;
  cursor: none;
}
.shut-down-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.spinner-border {
  height: 4rem;
  width: 4rem;
  color: white;
  margin-bottom: 0.5rem;
}
