@if (shutDown && shutDownMessage !== "Sleep") {
  <div class="shut-down" (click)="disableShutDown()">
    <div class="shut-down-inner">
      <div class="spinner-border" role="status"></div>
      <h4>{{ shutDownMessage }}</h4>
    </div>
  </div>
} @else {
  @if (authenticationService.signedIn()) {
    <app-desktop
      [class.show-content]="shutDownMessage !== 'Sleep'"
      (click)="sleepPointerDelay ? disableShutDown() : ''"
    />

    <app-taskbar
      [class.show-content]="shutDownMessage !== 'Sleep'"
      (click)="sleepPointerDelay ? disableShutDown() : ''"
    />
  }

  @if (!lockScreenHidden) {
    <app-lock-screen [class.lock-screen-exiting]="lockScreenExiting" />
  }
}

@if (logoutFlash) {
  <div class="logout-flash"></div>
}

<app-context-menu />
