:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
textarea {
  resize: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  background-color: var(--background-color);
  border: none !important;
  font-weight: normal !important;
}
textarea:focus {
  outline: none;
}
.footer {
  display: flex;
  justify-content: end;
  background-color: var(--secondary-color);
  padding: 0 0.2rem;
}
span {
  font-weight: normal;
}
