.window {
  position: absolute;
  width: fit-content;
  height: fit-content;
  background-color: var(--background-color);
  transform: translate(100px, 50px);
  transition: all var(--primary-transition) ease;
  padding: 0 2px 4.5px 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.focused {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.window-header {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}
.window-titlebar {
  display: flex;
  i {
    font-size: 1.2rem;
  }
}
.window-controls {
  display: flex;
}
.window-content {
  height: calc(100% - 40px);
  overflow: auto;
  overflow-x: hidden;
}
.window-minized {
  pointer-events: none;
  opacity: 0;
}
i {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 32px;
}
.bi-fullscreen-exit,
.bi-square {
  font-size: 1rem;
}
.no-transition {
  transition: none !important;
}
.maximizing,
.left-snap,
.right-snap {
  position: absolute;
  transition: all var(--primary-transition) ease-in-out;
  width: 0;
  height: 0;
  border-radius: 6px;
  background-color: var(--hover-color);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  margin: 5px;
}
.maximizing {
  transform: translate(50vw, 0);
}
.left-snap {
  transform: translate(0, 50vh);
}
.right-snap {
  transform: translate(100vw, 50vh);
}
.show-maximizing {
  transform: translate(0, 0);
  width: calc(100vw - 10px);
  height: calc(100vh - 3.5rem - 10px);
}
.show-left-snap,
.show-right-snap {
  width: calc(50vw - 5px);
  height: calc(100vh - 3.5rem - 10px);
}
.show-left-snap {
  transform: translate(0, 0);
}
.show-right-snap {
  transform: translate(calc(50vw - 5px), 0);
}
@keyframes scaleIn {
  from {
    transform: scale(0.9) translate(99.9px, 50px);
    opacity: 0;
  }
  to {
    transform: scale(1) translate(100px, 50px);
    opacity: 1;
  }
}

.animate-in {
  align-items: center;
  animation: scaleIn 200ms ease-out;
}
@media (max-width: 992px) {
  .maximize {
    display: none !important;
  }
}
