@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

@font-face {
  font-family: font;
  src: url(./app/fonts/fira.ttf);
}

:root {
  --background-color: #1e1e1e;
  --primary-color: #202020;
  --secondary-color: #212123;
  --tertiary-color: #0c0c0c;
  --hover-color: #ffffff0b;
  --text-color: #fff;
  --terminal-color: #fff;

  --primary-transition: 0.2s;
  --secondary-transition: 0.1s;
  --tertiary-transition: 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
input,
textarea,
select,
button {
  margin: 0.2rem;
  font-family: font;
  font-weight: bold;
  color: var(--text-color);
}
p {
  font-weight: normal;
}
i {
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color var(--secondary-transition) ease;
}
i:hover {
  background-color: var(--hover-color);
  transition: background-color 0s;
}
body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: var(--background-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 10px;
}
.hljs-keyword {
  color: #bc8abd;
}
.hljs-string {
  color: #c3917c;
}
.hljs-comment {
  color: #74975d;
  font-style: italic;
}
.hljs-function {
  color: #dcdbb0;
}
.hljs-number {
  color: #bacdac;
}
.hljs-variable {
  color: #a6d6f5;
}
.hljs-built_in {
  color: #abdbfb;
}
.hljs-keyword,
.hljs-string,
.hljs-comment,
.hljs-function,
.hljs-number,
.hljs-variable,
.hljs-built_in {
  margin: 0;
  font-weight: normal;
}
code {
  background-color: #000;
  display: block;
  padding: 0.25rem;
  border-radius: 6px;
}
