@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

@font-face {
  font-family: font;
  src: url(./app/fonts/fira.ttf);
}

:root {
  --primary-color: #202020;
  --secondary-color: #212123;
  --tertiary-color: #0c0c0c;
  --hover-color: #ffffff0b;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
input,
textarea,
select,
button {
  margin: 0.2rem;
  font-family: font;
  font-weight: bold;
  color: white;
}
i {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.1s ease;
}
i:hover {
  background-color: var(--hover-color);
  transition: background-color 0s;
}
body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
